html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Akzidenz';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 17px 34px 17px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 48px 16px 24px 16px;
}