.gif_oben {
    position: absolute;
    top: 0;
    right: 0;
}

.gif_unten {
    position: absolute;
    bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.textContainer {
    position: absolute;
    top: 115px;
    padding: 0 29px;
}

.h2 {
    color: var(--story_color_6);
    font-size: 21px;
    font-weight: 700;
}

.main {
    height: 100vh;
}